body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
section {
  padding: 0 3%;
  padding-bottom: 200px;
}
.flexible-container {
  display: flex;
}
.top-banner {
  background: url("./images/top-banner.png");
  background-repeat: no-repeat;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
p {
  color: rgb(119, 118, 118);
}
.orange-color {
  color: orange;
}
.half-width {
  width: 50%;
  margin-right: 8%;
  padding-left: 2%;
}
.half-width img {
  width: 100%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(to right, salmon, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.big-dream {
  background: url("./images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right 200px;
}
.exprience {
  background: url(./images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left 200px;
}
.exprience-item {
  width: 50%;
  box-shadow: 10px 10px 40px gray;
  margin: 0 5%;
  padding: 0 3%;
  border-left: 7px solid;
  border-image: linear-gradient(to top, tomato, salmon);
  border-image-slice: 1;
}
#web-dev-exp {
  border-left: 7px solid;
  border-image: linear-gradient(to top, mediumaquamarine, blue);
  border-image-slice: 1;
}
.footer {
  text-align: center;
  margin-bottom: 10px;
}
